<% case @trip.destination %>
<% when "London" %>
  <div class="destination-card-outer mt-4"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://media.istockphoto.com/id/1265900812/photo/aerial-view-of-london-and-the-tower-bridge.jpg?s=170667a&w=0&k=20&c=D1scasnEeMVME3qxfULPEhI92HfpRANoGduki12QnBw=)">
<% when "Paris" %>
  <div class="destination-card-outer mt-4"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://i0.wp.com/www.theglitteringunknown.com/wp-content/uploads/2017/01/Sunset-from-top-of-Arc-close-up-The-Glittering-Unknown.jpg)">
<% when "Budapest" %>
  <div class="destination-card-outer mt-4"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://media.timeout.com/images/105879336/750/422/image.jpg)">
<% end %>


    <div id="desination-card-inner">
      <div class="icons">
        <i class="fa-solid fa-share align-self-right me-2"></i>
        <i class="fa-solid fa-bookmark align-self-right destination-bookmark"></i>
      </div>
      <div class="destination-card-text">
        Your trip to
        <h1><%= @trip.destination %></h1>
      </div>
    </div>
  </div>
