<div class="destination-card mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1533681852052-dba7a3e4ef81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80)">
  <div class="icons">
   <i class="fa-solid fa-share me-2"></i>
   <i class="fa-solid fa-bookmark destination-bookmark"></i>
  </div>
  <div class="destination-card-text">
    Your trip to
    <h1>INSERT_DESTINATION</h1>
  </div>
</div>


<%# <%=@trip.destination%>
