
<ul class="activity-keys text-center">
<li>Museums <i class="fa-solid fa-landmark activity-icon"></i></li>
<li>Parks <i class="fa-solid fa-tree activity-icon"></i></li>
<li>Sights <i class="fa-solid fa-binoculars activity-icon"></i></li>
<li>Restaurants <i class="fa-solid fa-utensils activity-icon"></i></li>
<li>Walking tours <i class="fa-solid fa-person-walking activity-icon"></i></li>
<li>Bars <i class="fa-solid fa-martini-glass activity-icon"></i></li>
<li>Cafes <i class="fa-solid fa-mug-hot activity-icon"></i></li>
<li>Markets <i class="fa-solid fa-store activity-icon"></i></li>
</ul>
