<div class="header full-width">

  <%= render 'cities_case' %>

  <div class="header-text">
    <h1>Your trip to:</h1>
    <h2><%= @trip.destination %></h2>
  </div>

</div>




    <%# <i class="fa-solid fa-bookmark align-self-right destination-bookmark"></i> %>
   <%# <div class="show-angle-down"> %>
    <%# <i class="fa-solid fa-angle-down"></i> %>
  <%# </div>  %>


<%# MAYBE COUNTDOWN TIMER HERE %>
