
<div class="header full-width">

  <%= render 'cities_case' %>

  <div class="header-text">
    <h1 class="island-hub">Your trip to:</h1>
    <h2><%= @trip.destination %></h2>
  </div>

  <div class="icons">
    <i class="fa-solid fa-share align-self-right me-2"></i>
  </div>

</div>

<%# MAYBE COUNTDOWN TIMER HERE %>
