<main class="trip-new">
  <div  class="landing-info banner-image-new-trip w-100 vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="content new-trip-container">
    <%= render 'trips/new_trip_form', locals: { trip: @trip, categories: @categories} %>
  </div>
</main>
