// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.banner-image {
  background-image: url("paris.jpeg");
  background-size: cover;
}


#head {
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  color: $light-gray
}

#body {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: $light-gray
}

#down-arrow {
  color: rgb(250, 251, 250);
  font-size: 80px;
  position: absolute;
  top: 85%;
  left: 47.5%;
  transition: 0.3;

}

#down-arrow:hover {
  cursor: pointer;
  font-size: 90px;
}

@media (min-width: 100px) and (max-width: 767px) {
  #head {
    font-size: 50px;
  }

  #body {
    font-size: 20px;
  }
}
