// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.banner-image {
  background-image: url("paris.jpeg");
  background-size: cover;
}


#head{
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  color: $light-gray
}

#body{
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: $light-gray
}
