.title-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#itinerary {
  color: $custom-black !important;
  opacity: 0.7;
}

.title-index-header {
  margin-left: 10px;
}

#share-icon i {
  cursor: pointer;
  color: $custom-black;
  opacity: 0.7;
  font-size: 40px;
  // display: flex;
  // align-items: center;
}
