<div class="card bg-white p-4 m-3" style="overflow: hidden;">
    <img id="map-placeholder"src="https://static.vecteezy.com/system/resources/previews/004/296/173/non_2x/gray-world-map-isolated-on-white-background-world-map-flat-earth-template-for-web-site-pattern-anual-report-inphographics-vector.jpg" alt="map">
    <h2>TO-DO: MAP</h2>
  </div>
