<div class="card bg-white p-4 mt-2 mb-3 the-map" style="overflow: hidden; width: 450px; height: 300px;"
 data-controller="map"
 data-map-markers-value="<%= @markers.to_json %>"
 data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
