<div class="card bg-white p-4 m-3" style="overflow: hidden; width: 450px; height: 350px;"
 data-controller="map"
 data-map-markers-value="<%= @markers.to_json %>"
 data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
 >
  </div>
