<% if @trip.errors.any?  %>
  <script defer>
    function showModal() {
      new bootstrap.Modal("#createtripmodal").show();
    }
    showModal();
  </script>
<% end %>

<div class="modal fade" id="createTripModal" aria-hidden="true" aria-labelledby="modalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <%= render partial: "/users/form" %>
  </div>
</div>
