 <%= link_to root_path do %>

  <div class="trip-card" id="new">
      <div class="new-trip" >
        <p id="new-trip">Create a new trip<br><i class="fa-solid fa-plus"></i> </p>
      </div>
  </div>

  <% end %>
