

  <div class="trip-card" id="new">
      <div class="new-trip" >
        <a id="new-trip" data-bs-target="#createTripModal" data-bs-toggle="modal"><p><br>NEW TRIP<br>+</p> </a>
      </div>
  </div>

<%= render "/trips/modal"%>
