

  <div class="trip-card" id="new">
      <div class="new-trip" >
        <a class="p-2" id="new-trip" data-bs-target="#createTripModal" data-bs-toggle="modal">NEW TRIP +</a>
      </div>
  </div>

<%= render "/trips/modal"%>
