

  <div class="trip-card" id="new">
      <div class="new-trip" >
        <a id="new-trip" data-bs-target="#createTripModal" data-bs-toggle="modal">Create a new trip<br><i class="fa-solid fa-plus"></i> </a>
      </div>
  </div>

<%= render "/users/modal"%>
