<div class="d-flex flex-column">
<h2 style="align-self: center;">You have no upcoming trips ... yet!</h2>
<div class="align-self: center;">
   <%= link_to root_path do %>

  <div class="trip-card align-self-center" id="new" style="margin: 26px; margin-left: 125px;">
      <div class="new-trip">
        <p id="new-trip" style="font-weight: bold;"><strong>Create a new trip</strong><br><i class="fa-solid fa-plus"></i> </p>
      </div>
  </div>
  <% end %>
</div>
</div>
