<div class="footer">
<div class="footer-links">
  <a href="https://github.com/palacejackson/wayfindr"><i class="fab fa-github"></i></a>
</div>
  <div class="footer-logo">
    <img class="logo" src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/822/original/wayfindr2.png?1686224351" alt="wayfindr logo">
  </div>
  <div class="footer-copyright">
    Copyright © 2023. All rights reserved.
  </div>
</div>
