<div class="fixed-footer">
  <div class="footer-links">
    <a href="https://github.com/palacejackson/wayfindr"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2023. All rights reserved.
  </div>
</div>
