<% if @trip.errors.any?  %>
  <script defer>
    function showModal() {
      new bootstrap.Modal('#createTripModal').show();
    }
    showModal();
  </script>
<% end %>

<div class="modal fade" id="createTripModal" aria-hidden="true" aria-labelledby="modalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <%= render partial: "trips/form" %>
  </div>
</div>
<div class="modal fade" id="selectActivitiesModal" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalToggleLabel2">Check your favorite activities</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%# render checkboxes form %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="">Way to your trip</button>
      </div>
    </div>
  </div>
</div>

<% if current_user %>
  <form id="landing-form" name="landing-form">
    <input type="text" name="landing-form" placeholder="Where would you like to go?" data-landing-page-target="textbox">
    <button class="btn btn-purple p-2 m-1" id="landing-btn" data-bs-target="#createTripModal" data-bs-toggle="modal" data-action="click->landing-page#submit"><strong>Show me the way</strong></button>
  </form>
<% else %>
  <%= link_to 'Log in to see the way', new_user_session_path, class: 'btn btn-primary' %>
<% end %>
