<div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalToggleLabel">Create your trip</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "trips/form" %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalToggle2" data-bs-toggle="modal">Go to activities</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalToggle2" aria-hidden="true" aria-labelledby="ModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalToggleLabel2">Check your favorite activities</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%# render checkboxes form %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#ModalToggle" data-bs-toggle="">Way to your trip</button>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" data-bs-target="#ModalToggle" data-bs-toggle="modal">Show me the way</button>
