<div class="main">

  <div class="landing-info" data-controller="landing-page">

      <h1 id="head">Wayfindr</h1>
      <p id="body">Find your way to the perfect trip</p>

      <%= render "/pages/modal" %>

  </div>

 </div>
