<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# !CONTENT BELOW SHOULD BE DISPLAYED ON AN ACTIVITIES SHOW PAGE! %>

<%# <%= render 'activities/activity_show'%>

<%= render "/pages/modal" %>

