
<main>
  <div  class="landing-info banner-image w-100 vh-100 d-flex flex-column justify-content-center align-items-center">

    <div class="content text-center">

      <h3 id="head">Your dream holiday starts here</h3>
      <p id="body">Find your way to the perfect trip with <strong style="font-family: Raleway" >Wayfindr</strong></p>
        <% if current_user %>
          <%= link_to 'Show me the way', new_trip_path, class: "btn btn-purple p-3 m-1", id: "landing-btn" %>
          <%# <button class="btn btn-purple p-3 m-1"  data-bs-target="#createTripModal" data-bs-toggle="modal"><strong>Show me the way</strong></button> %>
        <% else %>
          <%= link_to 'Log in to see the way', new_user_session_path, class: 'btn btn-purple p-3', id: "landing-btn" %>
        <% end %>
        <div id="down-arrow">
          <i class="fa-solid fa-angle-down" data-controller="down-arrow" data-action="click->down-arrow#scrollToBottom"></i>
        </div>

    </div>
  </div>




  <div class="container header-info mt-5">
    <h2>How it works:</h2>
  </div>

  <div class="container my-5 d-grid gap-5 cards">

    <div class="card-info p-3">
      <div class="inner-card-info">
        <p><i class="fa-solid fa-earth-europe"></i></p>
        <strong><p class="info-header">Got a trip to Europe in the pipeline?</strong></p>
        <p>Tell us where you are headed, how long for and which activities take your fancy.</p>
      </div>
    </div>

    <div class="card-info p-3">
      <div class="inner-card-info">
        <p><i class="fa-solid fa-hourglass-half"></i></p>
        <strong><p class="info-header">Short on time to plan your trip?</strong></p>
        <p>Sit back and let Wayfindr create an itinerary for your trip in just a few seconds!</p>
      </div>
     </div>

    <div class="card-info p-3">
      <div class="inner-card-info">
        <p><i class="fa-solid fa-rotate" id="rotate-landing"></i></p>
        <strong><p class="info-header">Something doesn't take your fancy?</strong></p>
        <p>Use our swap feature to customise your itinerary.</p>
      </div>
    </div>

  </div>
</main>
