.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: 3px solid $purple;
  color: $purple;

  p{
    color: $custom-black;
  }
}
