#nav-home-tab{
  color: black;
  background: $custom-white;
}

.nav-link-tab{
  width: 200px;
  font-style: bold;
  color: $custom-white !important;
  background: $purple !important;
  opacity: 0.7 !important;
}

.nav-link-tab:not(.active){
  background-color: #e0e0e0 !important;
  color: black !important;
  opacity: 0.7;
}

/* #nav-profile{

} */

#nav-profile-tab{
  color: black;
  background: $custom-white;
}

/* #nav-contact{

} */

#nav-contact-tab{
  color: black;
  background: $custom-white;
}


/* #nav-last{

} */

#nav-last-tab{
  color:black;
  background: white;
}



.tab-whole{
  background: white;
}
