.banner {
  background-size: cover;
  background-position: center;
  padding: 185px 0;
  // width: 100%;
  // height: 75%;
  object-fit: cover;
  opacity: 0.8;

}

.activity-name{
  // position: relative;
  // justify-content: center;
  text-align: center;
  color: black;
}

.info-card{
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 3px 15px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.activity-details{
  padding: 20px;
}

.rating{
  margin-top: -32px;
  margin-right: -55px;
}

.ratings{
  margin-left: 123px;
}

.web-link{
  text-decoration: none;
}

.btn-x{
  display: block;
  margin: auto;
  font-size: 15px;
  border: 4px solid #925CFF;
  border-radius: 4px;
  width: 35px;
}

.btn-x:hover{
  border: 4px solid #925CFF;
}

.itinerary{
  width: 350px;
  height: 65px;
  background: #925CFF;
  border-radius: 7px;
  padding: 10px;
  color: white;
}
