/* #nav-home{

} */

#nav-home-tab{
  color: black;
}

.nav-link:not(.active){
  background-color:rgb(249, 243, 243);
}

/* #nav-profile{

} */

#nav-profile-tab{
  color: black;
}

/* #nav-contact{

} */

#nav-contact-tab{
  color: black;
}


/* #nav-last{

} */

#nav-last-tab{
  color:black;
}

.nav-link{
  width: 200px;
}
