#large-carousel {
  min-height: 350px;
  max-height: 350px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.activity-name{
  // position: relative;
  // justify-content: center;
  text-align: center;
  color: black;
}

.info-card{
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 3px 15px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.about-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.activity-details{
  margin-top: 15px;
  width: 100%;

  .activity-show-text {
    font-family: Raleway;

  }
}

.category-activity-show {
  display: flex;
  flex-direction: row;

  i {
    width: 22px;
    height: 22px;
    margin-top: 2px;
  }

  .activity-icon {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.fa-circle-info {
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: 1px;
}

#rating {
  display: flex;
  flex-direction: row;
}

#description {
  font-size: 18px;
}

.web-link{
  text-decoration: none;
}

.btn-x{
  display: block;
  margin: auto;
  font-size: 15px;
  border-radius: 4px;
  width: 35px;
}

.itinerary{
  width: 400px;
  height: 65px;
  // background: #925CFF;
  border-radius: 7px;
  padding: 10px;
  color: black;
}

// .show-angle-down{

//   color: red;
// }
