.btn-purple{
  background-color:$purple;
  color: white;
  border-radius: 6px;

  .more-info {
    // position: absolute;
    // bottom: 0;
    padding: 5px;
    // margin-bottom: 12px;
  }
}

.btn-purple:hover{
  border: 2px solid $purple;
  color: black;
}

.btn-purple-border{
  border: 2px solid $purple;
}

.btn-purple-border:hover{
  // border: 2px solid $purple;
  background-color: $purple;
  color: white;
}

#landing-btn {
  font-size: 20px;
  font-weight: 400;
  border: 2px solid $light-gray;
  background-color: $purple;
}

#landing-btn:hover {
  background-color: $light-gray;
  color: $purple;
}
