.btn-purple{
  background-color: $purple;
  color: $custom-white;
  border-radius: 6px;
  opacity: 0.9;

  .more-info {
    padding: 5px;
  }
}

.btn-grey {
  background-color: #ADAFAC;
  border-radius: 6px;
  transition: 0.3;
  opacity: 0.7;

  p { color: $custom-black;
  }
}

.btn-grey:hover {
  background-color:$green-blue;
  opacity: 0.4;
  cursor: pointer;

  p {
    color: $custom-black;
  }
}

.btn-purple:hover{
  border: 2px solid $purple;
  color: black;
}

.btn-purple-border{
  border: 2px solid $purple;
}

.btn-purple-border:hover{
  // border: 2px solid $purple;
  background-color: $purple;
  color: white;
}

#landing-btn {
  font-size: 20px;
  font-weight: 400;
  border: 2px solid $light-gray;
  background-color: $purple;
}

#landing-btn:hover {
  background-color: $light-gray;
  color: $purple;
}
