.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 200px;
}
.footer-logo {
  display: flex;
  align-items: center;
}
