.fixed-footer {
  // background: #F4F4F4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 20px;
}

.footer-logo {
  align-self: center !important;
}

.logo{
  width: 60px;

 }

.footer-links {
  display: flex;
  align-items: left;
}

.footer-links a {
  color: $purple;
  opacity: 0.4;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
