.header-info {
  text-align: center;

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.card-info {
  // background-size: cover;
  // background-position: center;
  background-color: white;
  text-align: center;
  height: 250px;
  color: $custom-black;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 6px;

  .inner-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 20px;
  }

  .info-header {
    font-size: 20px;
  }

  i {
    font-size: 60px;
  }

  #rotate-landing {
    color: $custom-black;
  }
}



@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
