.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#navbar-logo {
  text-align: center;

  img {
    width: 50px;
  }
}

#navbar-wayfindr {
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
}

.fa-solid.fa-bars {
  font-size: 30px;
}

@media (max-width: 768px){
  #navbar-wayfindr {
  font-size: 25px;
  }

  .fa-solid.fa-bars {
    font-size: 25px;
  }

  #navbar-logo {
    img {
      width: 45px;
    }
  }
}

@media (max-width: 375px){
  #navbar-wayfindr {
  font-size: 20px;
  }

  .fa-solid.fa-bars {
    font-size: 20px;
  }

  #navbar-logo {
    img {
      width: 40px;
    }
  }
}

#logo-and-wayfindr {
  display: flex;
  align-items: center;
}

#hello {
  font-weight: 200;
}

.solid {
  background-color: $purple;

  .nav-link {
    color: $light-gray !important;
    font-size: 20px;
    padding-top: 10px;
  }

  #navbar-wayfindr {
    color: $light-gray;
  }
}

.transparent {
  background-color: transparent;

    .nav-link {
      color: $light-gray !important;
      font-size: 20px;
      padding-top: 10px;
    }

    #navbar-wayfindr {
      color: $light-gray;
    }
}


.navbar-toggler {
  border: 1px solid transparent !important;
}
