.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.white-background {
  background-color: $light-gray;
  color: $custom-black;
  font-size: 18px;
}

.transparent {
  background-color: transparent;
  z-index: 90;
  position: sticky;
  top: 0px;

    .nav-link {
      color: $light-gray !important;
      font-size: 18px;
    }
}
