#new {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  p {
    transition: 0.3s
  }
}


#new-trip {
  color: $purple !important;
  text-align: center;
  font-size: 24px;
  transition: 0.3s;
  font-weight: bold;
}


#new:hover {

  p {
  font-size: 38px;
  }
}
