.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
}

.trips-container {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}

.see-all-trips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upcoming-trips {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  flex-wrap: wrap;
}

.past-trips {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  flex-wrap: wrap;
}


#new.trip-card {
  background-color: rgba(146, 92, 255, 0.2);
   p {
    color: $custom-black;
    line-height: 1.2;
   }
}

.trip-card {
  width: 300px;
  height: 250px;
  background-color: $light-gray;
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;


  img {
    width: 100%;
    height: 100%;
    object-fit: fill;

  }

  #trip-card-info {
    z-index: 1000;
    width: 90%;
    position: absolute;
    bottom: 8px;
    left: 12px;
    color: $light-gray;
    font-size: 2rem;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
  }

  .fa-trash-can {
    color: $light-gray;
    font-size: 14px;
  }
}

.trip-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;

  #trip-card-info {
    font-size: 46px;
  }
}






// .paris-trip-card {
//   width: 250px;
//   height: 150px;
//   border-radius: 10px;
//   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//   background: url('https://i0.wp.com/www.theglitteringunknown.com/wp-content/uploads/2017/01/Sunset-from-top-of-Arc-close-up-The-Glittering-Unknown.jpg');
//   background-position: center;
//   background-size: cover;

//   a {
//     color: white;
//   }
// }

// .budapest-trip-card {
//   width: 250px;
//   height: 150px;
//   border-radius: 10px;
//   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//   background: url('https://media.timeout.com/images/105879336/750/422/image.jpg');
//   background-position: center;
//   background-size: cover;

//   a {
//     color: white;
//   }
// }

// .upcoming-header {
//   border-radius: 10px;
//   width: 407px;
//   padding: 13px;
//   text-align: center;
//   background-color: #ebdff2;
// }

// .new-trip-card {
//   width: 250px;
//   height: 150px;
//   border-radius: 10px;
//   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// }

// #profile-header {
//   background-color: $purple;
//   font: $headers-font;
// }

// #trip-header {
//   color: $white;
//   font-weight: 400;
//   text-shadow: -1px 2px $purple;
// }

// #new-trip-header {
//   color: $purple;
// }

// #header-dates {
//   margin-top: 63px;
// }

// #icon-edit {
//   font-size: 28px;
// }

// #map-placeholder {
//   width: 400px;
//   height: 200px;
// }
