// .modal-backdrop {
//   z-index: -10 !important;
// }


.modal-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.modal-header {
  display: flex;
  justify-content: center;
  background-color: rgba(173, 175, 172, 0.2);
}
.modal-content {
  background-color: $custom-white;
}

.modal-footer {
  background-color: rgba(173, 175, 172, 0.2);
}

.fa-brands {
  font-size: 50px;
}

.modal-body {
 .social-media {
  color: white;
}
}

#modaltitle {
  color: $custom-black !important;
  opacity: 0.7;
}
