// .modal-backdrop {
//   z-index: -10 !important;
// }

.fa-share {
  background: none;
  border: none;
  color: white;
}

.modal-body {

 .social-media {
  color: white;
}
}

#modaltitle {
  color: $purple;
  font-weight: bold;
}
