// .modal-backdrop {
//   z-index: -10 !important;
// }


#modal-body-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  .social-media {
    color: white;
  }
}

#modal-header-social {
  display: flex;
  justify-content: center;
  background-color: rgba(173, 175, 172, 0.2);
}

#modal-content-social {
  background-color: $custom-white;
}

#modal-footer-social {
  background-color: rgba(173, 175, 172, 0.2);
}

.fa-brands {
  font-size: 50px;
}


#modaltitle {
  color: $custom-black !important;
  opacity: 0.7;
}

#icon.a.hover {
  font-size: 60px;
}
