 <% case activity.activity_type %>
  <% when "Museums" %>
    <div><i class="fa-solid fa-landmark activity-icon"></i></div>
  <% when "Parks" %>
    <div><i class="fa-solid fa-tree activity-icon"></i></div>
  <% when "Sights" %>
    <div><i class="fa-solid fa-binoculars activity-icon"></i></div>
  <% when "Restaurants" %>
    <div><i class="fa-solid fa-utensils activity-icon"></i></div>
  <% when "walking+tours" %>
    <div><i class="fa-solid fa-person-walking activity-icon"></i></div>
    <%# ADD EXTRA CATEGORIES HERE %>
<% end %>
